{% extends "sidebar.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}
{% set HEADER_COVER = "e4m3.jpg" %}
{% block header_title %}Archives{% endblock %}
{% block header_subtitle %}{% endblock %}



{% block aside %}
{% endblock %}



{% block main_content %}
	<!-- archives.html -->
	{% for article in dates %}
		<article>
			<header>
				<h1>{{ article.title }}</h1>
			</header>
			<main>
				<p class="summary">
					{{ article.summary }}
					<a class="btn btn-sm btn-primary" href="{{ SITEURL }}/{{ article.url }}">Read more →</a>
				</p>
			</main>
		</article>
	{% endfor %}
{% endblock %}



{#{% block content %}
<h1>Archives for {{ SITENAME }}</h1>

<section>
{% for article in dates %}
	<article>
		<header>
			<h1>{{ article.title }}</h1>
		</header>
		<main>
			<p class="summary">
				{{ article.summary }}
				<a class="btn btn-sm btn-primary" href="{{ SITEURL }}/{{ article.url }}">Read more →</a>
			</p>
		</main>
	</article>
{% endfor %}
</section>
{% endblock %}
#}