{% extends "sidebar.html" %}


{% macro authorimg(author) -%}
{{ SITEURL }}/static/authors/{{ author|string|lower }}.png
{%- endmacro %}



{% set HEADER_COVER = "e4m3.jpg" %}

{% block title %}{{ SITENAME }} News - {{ article.title|striptags }}{% endblock %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block meta %}
	{% if article.author %}
		<meta name="author" content="{{ article.author }}">
	{% else %}
		<meta name="author" content="{{ AUTHOR }}">
	{% endif %}
	{% if article.tags %}
		<meta name="keywords" content="{{ article.tags|join(',')|striptags }}">
	{% endif %}
	{% if article.summary %}
		<meta name="description" content="{{ article.summary|striptags|escape }}">
	{% endif %}
{% endblock %}


{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}


{% block header_title %}{{ article.title }}{% endblock %}


{% if article.author %}
{%   block header_subtitle %}
Posted by <i class="fa fa-user"></i> <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> on <i class="fa fa-calendar"></i> <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
{%   endblock %}
{% endif %}



{% block aside %}
	<div class="card">
		<div class="card-body d-flex flex-column align-items-start">
			<h4 class="card-title text-primary">Tags</h4>
			<p class="card-text">
				{% for tag in article.tags|sort %}
				<a href="{{ SITEURL }}/{{ tag.url }}" class="badge badge-info">{{ tag }}</a>
				{% endfor %}
			</p>
		</div>
	</div>
{% endblock %}




{% block main_content %}
	<!-- article.html -->
	<article>
		<main>
			<div class="entry-content">
				<div class="d-flex align-items-center mb-4 text-muted author-info">
					<a class="d-flex align-items-center text-muted text-decoration-none" href="{{ SITEURL }}/{{ article.author.url }}" target="_blank" rel="noopener">
						<img class="mb-0 me-2 rounded-2" srcset="{{ authorimg(article.author) }}?size=32, {{ authorimg(article.author) }}?size=64 2x" src="{{ authorimg(article.author) }}?size=32" alt="" width="32" height="32">
						<span>@{{ article.author }}</span>
					</a>
					<span class="d-flex align-items-center ms-3" title="20 Feb 24 15:22 UTC">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="me-2" viewBox="0 0 16 16" role="img" fill="currentColor">
							<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
							<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
						</svg>
						{{ article.locale_date }}
					</span>
				</div>

				{{ article.content }}
			</div>
		</main>
	</article>

	<nav aria-label="pagination">
		<ul class="pagination justify-content-center">
	{%   if article.prev_article %}
			<li class="page-item">
				<a class="page-link" href="{{ SITEURL }}/{{ article.prev_article.url }}">&laquo; {{ article.prev_article.title }}</a>
			</li>
	{%  else %}
			<li class="page-item disabled">
				<span class="page-link">&laquo;</span>
			</li>
	{%   endif %}

	{%   if article.next_article %}
			<li class="page-item">
				<a class="page-link" href="{{ SITEURL }}/{{ article.next_article.url }}">{{ article.next_article.title }} &raquo;</a>
			</li>
	{%   else %}
			<li class="page-item disabled">
				<span class="page-link">&raquo;</span>
			</li>
	{%   endif %}
		</ul>
	</nav>

{% endblock %}




{#

    <h1 class="post-title fw-semibold">Bootstrap 5.3.3</h1>
    <div class="d-flex align-items-center mb-4 text-muted author-info">
  <a class="d-flex align-items-center text-muted text-decoration-none" href="https://github.com/julien-deramond" target="_blank" rel="noopener">
    <img class="mb-0 me-2 rounded-2" srcset="https://github.com/julien-deramond.png?size=32, https://github.com/julien-deramond.png?size=64 2x" src="https://github.com/julien-deramond.png?size=32" alt="" width="32" height="32">
    <span>@julien-deramond</span>
  </a>
  <span class="d-flex align-items-center ms-3" title="20 Feb 24 15:22 UTC">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="me-2" viewBox="0 0 16 16" role="img" fill="currentColor">
  <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
</svg>
February 20, 2024</span>
</div>
<p>Bootstrap v5.3.3 is here with bug fixes, documentation improvements, and more follow-up enhancements for color modes. Keep reading for the highlights!</p>
<h2 id="highlights">Highlights</h2>
<ul>
<li>Fixed a breaking change introduced with color modes where it was required to manually import <code>variables-dark.scss</code> when building Bootstrap with Sass. Now, <code>_variables.scss</code> will automatically import <code>_variables-dark.scss</code>. If you were already importing <code>_variables-dark.scss</code> manually, you should keep doing it as it won’t break anything and will be the way to go in v6.</li>
<li>Fixed a regression in the selector engine that wasn’t able to handle multiple IDs anymore.</li>
</ul>
<h2 id="color-modes">Color modes</h2>
<ul>
<li>Badges now use the <code>.text-bg-*</code> text utilities to be certain that the text is always readable (especially when the customized colors are different in light and dark modes).</li>
<li>Fixed our <code>color-modes.js</code> script to handle the case where the OS is set to light mode and the auto color mode is used on the website. If you copied the script from our docs, you should apply <a href="https://github.com/twbs/bootstrap/commit/73e1dcf43eff8371dde52ce41bd1d9fdc2b47d1f">this change</a> to your own script.</li>
<li>Fixed color schemes description in the color modes documentation to show that <code>color-scheme()</code> only accept <code>light</code> and <code>dark</code> values as parameters.</li>
</ul>
<h2 id="miscellaneous">Miscellaneous</h2>
<ul>
<li>Allowed <code>&lt;dl&gt;</code>, <code>&lt;dt&gt;</code> and <code>&lt;dd&gt;</code> in the sanitizer.</li>
<li>Dropped evenly items distribution for modal and offcanvas headers.</li>
<li>Fixed the accordion CSS selectors to avoid inheritance issues when nesting accordions.</li>
<li>Fixed the focus box-shadow for the validation stated form controls.</li>
<li>Fixed the focus ring on focused checked buttons.</li>
<li>Fixed the product example mobile navbar toggler.</li>
<li>Changed the RTL processing of carousel control icons.</li>
</ul>
<h2 id="docs">Docs</h2>
<ul>
<li>Dropped unnecessary right margin for example code blocks.</li>
<li>Fixed emphasis text utilities usage in <a href="https://getbootstrap.com/docs/5.3/utilities/background/#background-color">background utilities examples</a> section.</li>
<li>Added an technical explanation on how to render an accordion expanded by default.</li>
<li>Changed Vite config path import in Vite guide.</li>
<li>Enhanced the card image description of the <code>.card-img-*</code> classes.</li>
<li>Mentioned <code>shift-color()</code> function in the Sass customization page among <code>tint-color()</code> and <code>shade-color()</code>.</li>
<li>Added missing <code>type="button"</code> attribute to the Cheatsheet examples navigation buttons.</li>
<li>Updated the colors table in the customization page to be responsive.</li>
</ul>
<h2 id="get-the-release">Get the release</h2>
<p><strong>Head to <a href="https://getbootstrap.com">https://getbootstrap.com</a> for the latest.</strong> It’s also been pushed to npm:</p>
<div class="bd-code-snippet">  <div class="bd-clipboard">    <button type="button" class="btn-clipboard" aria-label="Copy to clipboard" data-bs-original-title="Copy to clipboard">      <svg class="bi" role="img" aria-label="Copy"><use xlink:href="#clipboard"></use></svg>    </button>  </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-sh" data-lang="sh"><span class="line"><span class="cl">npm i bootstrap@v5.3.3
</span></span></code></pre></div></div><p><a href="https://github.com/twbs/bootstrap/releases/tag/v5.3.3">Read the GitHub v5.3.3 changelog</a> for a complete list of changes in this release.</p>
<h2 id="support-the-team">Support the team</h2>
<p>Visit our <a href="https://opencollective.com/bootstrap">Open Collective page</a> or our <a href="https://github.com/orgs/twbs/people">team members</a>’ GitHub profiles to help support the maintainers contributing to Bootstrap.</p>
#}
