{% macro icon(name) -%}
<svg class="icon" viewBox="0 0 1 1"><use href="{{ SITEURL }}/theme/img/fontawesome.svg#{{ name }}"></use></svg>
{%- endmacro %}



{% macro toc() -%}
<ul class="list-unstyled fw-normal pb-2 small">
	{% if page.tree %}
		{% for i in page.tree.children recursive %}
			<li class="ms-4">
				<a href="#{{ i.id }}">{{ i.header }}</a>
				{% if i.children %}
					<ul  class="list-unstyled fw-normal pb-2 small">
						{{ loop(i.children) }}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	{% endif %}
</ul>
{%- endmacro %}
