{% extends "sidebar.html" %}
{% from "macros.jinja" import toc with context %}


{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}


{% block header_title %}{{ page.title }}{% endblock %}
{% block header_subtitle %}{{ page.summary | default('') }}{% endblock %}




{% block aside %}
	{% if page.toc %}
		<div class="col-12 hidden-xs hidden-sm">
			{{ toc() }}
		</div>
	{% endif %}
{% endblock %}



{% block main_content %}
	<div class="row">
		<div class="col-9">
			{{ page.content }}
		</div>
	</div>
{% endblock %}
