{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ period | reverse | join(' ') }} Archives{% endblock %}
{% set HEADER_COVER = "e4m4.jpg" %}
{% block header_title %}Archives for {{ period | reverse | join(' ') }}{% endblock %}
{% block header_subtitle %}{% endblock %}

{% block content %}
{%   for article in dates %}
<section>
	<div class="container">
		<article>
			<header>
				<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
			</header>
			<main>
				<p class="summary">
					{{ article.summary }}
					<a class="btn btn-sm btn-primary" href="{{ SITEURL }}/{{ article.url }}">Read more →</a>
				</p>
			</main>
		</article>
		<hr/>
	</div>
</section>
{%   endfor %}
{% endblock %}
