{% if DEFAULT_PAGINATION %}
<nav aria-label="pagination">
	<ul class="pagination justify-content-center">
{%   if articles_page.has_previous() %}
		<li class="page-item">
			<a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
		</li>
{%  else %}
		<li class="page-item disabled">
			<span class="page-link">&laquo;</span>
		</li>
{%   endif %}

		<li class="page-item disabled">
			<span class="page-link disabled">
				Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
			</span>
		</li>

{%   if articles_page.has_next() %}
		<li class="page-item">
			<a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
		</li>
{%   else %}
		<li class="page-item disabled">
			<span class="page-link">&raquo;</span>
		</li>
{%   endif %}
	</ul>
</nav>
{% endif %}
