{% if article.tags %}
	<span class="label label-default"><i class="fa fa-tags"></i> Tags:</span>
	{% for tag in article.tags %}
		<a href="{{ SITEURL }}/{{ tag.url }}"><span class="badge badge-info">{{ tag }}</span></a>
	{% endfor %}
{% endif %}
